.modal-overlay {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.85)
}

.modal-container {
  position: relative;
  top: 5%;
  max-width: 670px;
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  z-index: 15;
}

.modal-top-section {
  display: flex;
  justify-content: center;
}

.modal-top-header { margin-top: 0; }

.modal-container-close-btn {
  align-self: flex-end;
  padding: 1rem 1rem 0;
  font-size: 1.25rem;
  &:hover { cursor: pointer; }
}

.modal-bottom-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-bottom-section-image { width: 100% }
